
<mat-card class="filter">
    <mat-card-content>
        <h2 class="example-h2">xL00_OM_9999_COMMON_xxxx_000000 比较</h2>

        <form class="tools-form" [formGroup]="compares" (ngSubmit)="onSubmit()">
            <mat-form-field class="tools-form-full">
                <mat-label>from</mat-label>
                <input matInput formControlName="compare_from" placeholder="xL00_OM_9999_COMMON_xxxx_000000">
            </mat-form-field>

            <mat-form-field class="tools-form-full">
                <mat-label>to</mat-label>
                <input matInput formControlName="compare_to" placeholder="xL00_OM_9999_COMMON_xxxx_000000">
            </mat-form-field>
            <section class="example-section">
                <mat-slide-toggle [formControl]="filterControl"
                    class="example-margin"
                    [color]="color">
                    是否filter Author: kapitanoam
                </mat-slide-toggle>
            </section>
            <!-- <pre>{{ compares | json }}</pre> -->
            <div fxLayout="row" fxLayoutAlign="start center" class="button">
                <button type="submit" mat-raised-button color="primary">Compare Go</button>
                <button mat-raised-button color="primary" (click)="onReset()">Reset</button>
                <button mat-raised-button color="primary" (click)="clear()">Clean slide-toggle</button>
            </div>
        </form>
        <p>
        Form value: {{ compares.value | json}}
        </p>
        <div *ngIf="submitted">
            <mat-spinner></mat-spinner>
        </div>
        <!-- <p>
        Data Form server: {{ result | json}}
        </p> -->
        
        <!-- <mat-checkbox >Hide required marker</mat-checkbox> -->
    </mat-card-content>
</mat-card>

<mat-divider></mat-divider>
<br/>

<section class="example-section">
  <mat-checkbox [(ngModel)]="author_filter" (change)="updateData()">是否filter Author: kapitanoam!</mat-checkbox>

  <h2>total commits: {{ total_commits }}</h2>
</section>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="domain">
      <th mat-header-cell *matHeaderCellDef> domain. </th>
      <td mat-cell *matCellDef="let element"> {{element.domain}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="rangeFrom">
      <th mat-header-cell *matHeaderCellDef> rangeFrom </th>
      <td mat-cell *matCellDef="let element"> {{element.rangeFrom}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="rangeTo">
      <th mat-header-cell *matHeaderCellDef> rangeTo </th>
      <td mat-cell *matCellDef="let element"> {{element.rangeTo}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="commit_nums">
      <th mat-header-cell *matHeaderCellDef> commit nums </th>
      <td mat-cell *matCellDef="let element"> {{element.commit_nums}} </td>
    </ng-container>
    <ng-container matColumnDef="commits">
        <th mat-header-cell *matHeaderCellDef> commits</th>
        <td mat-cell *matCellDef="let element"> {{element.commits|json}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!-- <div>reprot table</div> -->
<mat-divider></mat-divider>
<br/>
<!-- <pre>{{ form.value | json }}</pre> -->