
<div>ECL 比较</div>
<mat-divider></mat-divider>
<mat-card class="filter">
    <mat-card-content>
        <h2 class="example-h2">Form</h2>
        <!-- <form [formGroup]="options">
            <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
            
        </form> -->
        <mat-checkbox >Hide required marker</mat-checkbox>
        <section class="example-section">
            <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                是否filter ECL的提交
            </mat-slide-toggle>
        </section>
    </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<div>reprot table</div>